<h2 class="title-h2">Your Shopping Bag</h2>
<main class="page page-light">
  <div class="wrapper">
    <div class="product">
      <div *ngFor="let product of products" class="product-item">
        <img src="{{product.img}}" alt="{{product.name}}" />
        <p class="product-title">{{product.name}}</p>
        <p class="product-price">{{product.price}} UAN</p>
        <p class="product-title">category: {{product.category}}</p>
        <p class="product-title">quantity: {{product.quantity}}</p>
        <button class="button-item" routerLinkActive="active" routerLink="/make-order/{{product.id}}">Buy</button>
        <button class="button-item" (click) = "delete_product(product.id)">Delete</button>
      </div>
    </div>
  </div>
</main>
