@import '../../style/_variables.scss';

.title-h2 {
  text-align: center;
  font-size: 36px;
  text-transform: uppercase;
  color: $dark;
  @include breakpoint (xs) {
    font-size: 28px;
  }
}
.product {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 100px;
  flex-wrap: wrap;
  @include breakpoint (lg) {
    flex-wrap: wrap;
  }
  @include breakpoint (xs) {
    margin-bottom: 50px;
  }
}
.product-item {
  text-align: center;
  margin-bottom: 100px;
  flex: 0 0 25%;
  position: relative;
  @include breakpoint (lg) {
    margin-bottom: 20px;
    flex: 0 0 50%;
  }
  @include breakpoint (xs) {
      flex: 0 0 100%;
  }
}
.product-title {
  font-weight: 600;
  margin-bottom: 0;
}
.product-price {
  font-weight: 700;
  font-size: 18px;
  color: $light-brown;
  margin-top: 10px;
}

.button-item{
  background-color: #846233;
  color: #E5D5BF;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 15px;
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 100px;
}
  