<main class="page page-main">
    <div class="wrapper">
        <div class="main">
            <div class="sale">
                <p class="sale-description">Seasonal sale</p>
                <h1 class="sale-title">Discounts up to 60%</h1>
                <a class="button" href="">Look more</a>
            </div>
            <div class="box">
                <div class="box-price">
                    <p class="box-price-old"> 33 000₴</p>
                    <p class="box-price-new">24 000₴</p>
                </div>
                <img class="box-image" src="./assets/image/box-image.png" alt="Laptop">
            </div>
        </div>
    </div>
</main>

<main class="page page-light">
         <div class="wrapper">
            <h2 class="title-h2">New Products</h2>
            <div class="product">
                <div class="product-item">
                   <a href=" "> <img  src="./assets/image/laptop1.png" alt="Product1"> </a>
                   <p class="product-title">Laptop Acer Aspire 7</p>
                   <p class="product-price">30 029₴</p>
                </div>
                <div class="product-item">
                   <a href=" "> <img src="./assets/image/phone1.png" alt="Product2"> </a>
                   <p class="product-title">Phone Samsung Galaxy S21</p>
                   <p class="product-price">18 499₴</p>
                </div>
                <div class="product-item">
                   <a href=" "><img src="./assets/image/laptop2.png" alt="Product3"> </a>
                   <p class="product-title">ASUS Laptop X415FA-EB013</p>
                   <p class="product-price">17 324₴</p>
                </div>
                <div class="product-item">
                   <a href=" "><img src="./assets/image/phone2.png" alt="Product4"></a>
                   <p class="product-title">Phone Xiaomi 11T</p>
                   <p class="product-price">19 999₴</p>
                </div>
            </div>
            <a class="button button-center"routerLinkActive="active" routerLink="/products">Look more</a>
         </div>
</main>
